<div id="<%= dom_id analise %>">
  <p>
    <strong>Número do Processo</strong>
    <%= analise.processo %>
  </p>

  <p>
    <strong>Diploma Não Emitido</strong>
    <%= analise.diploma_nao_emitido_check %>
  </p>

  <p>
    <strong>Status da Matrícula é "Concluído" ou "Formado"</strong>
    <%= analise.status_matricula_check %>
  </p>

  <p>
    <strong>Nome</strong>
    <%= analise.nome_check %>
  </p>

  <p>
    <strong>Nome Correto</strong>
    <%= analise.nome_correto %>
  </p>

  <p>
    <strong>CPF</strong>
    <%= analise.cpf_check %>
  </p>

  <p>
    <strong>CPF Correto</strong>
    <%= analise.cpf_correto %>
  </p>

  <p>
    <strong>Data de Nascimento</strong>
    <%= analise.data_nascimento_check %>
  </p>

  <p>
    <strong>Data de Nascimento Correta</strong>
    <%= analise.data_nascimento_correta %>
  </p>

  <p>
    <strong>Naturalidade</strong>
    <%= analise.naturalidade_check %>
  </p>

  <p>
    <strong>Naturalidade Correta</strong>
    <%= analise.naturalidade_correta %>
  </p>

  <p>
    <strong>Nome do Pai</strong>
    <%= analise.nome_pai_check %>
  </p>

  <p>
    <strong>Nome do Pai Correto</strong>
    <%= analise.nome_pai_correto %>
  </p>

  <p>
    <strong>Nome da Mãe</strong>
    <%= analise.nome_mae_check %>
  </p>

  <p>
    <strong>Nome da Mãe Correto</strong>
    <%= analise.nome_mae_correto %>
  </p>

  <p>
    <strong>Identidade</strong>
    <%= analise.identidade_check %>
  </p>

  <p>
    <strong>Identidade Correta</strong>
    <%= analise.identidade_correta %>
  </p>

  <p>
    <strong>Órgão Expedidor</strong>
    <%= analise.orgao_expedidor_check %>
  </p>

  <p>
    <strong>Órgão Expedidor Correto</strong>
    <%= analise.orgao_expedidor_correto %>
  </p>

  <p>
    <strong>UF</strong>
    <%= analise.uf_check %>
  </p>

  <p>
    <strong>UF Correta</strong>
    <%= analise.uf_correta %>
  </p>

  <p>
    <strong>Data de Expedição</strong>
    <%= analise.data_expedicao_check %>
  </p>

  <p>
    <strong>Data de Expedição Correta</strong>
    <%= analise.data_expedicao_correta %>
  </p>

  <p>
    <strong>Tipo de Certidão</strong>
    <%= analise.tipo_certidao_check %>
  </p>

  <p>
    <strong>Tipo de Certidão Correto</strong>
    <%= analise.tipo_certidao_correto %>
  </p>

  <p>
    <strong>Cartório</strong>
    <%= analise.cartorio_check %>
  </p>

  <p>
    <strong>Cartório Correto</strong>
    <%= analise.cartorio_correto %>
  </p>

  <p>
    <strong>Número de Termo</strong>
    <%= analise.numero_termo_check %>
  </p>

  <p>
    <strong>Número de Termo Correto</strong>
    <%= analise.numero_termo_correto %>
  </p>

  <p>
    <strong>Folha</strong>
    <%= analise.folha_check %>
  </p>

  <p>
    <strong>Folha Correta</strong>
    <%= analise.folha_correta %>
  </p>

  <p>
    <strong>Livro</strong>
    <%= analise.livro_check %>
  </p>

  <p>
    <strong>Livro Correto</strong>
    <%= analise.livro_correto %>
  </p>

  <p>
    <strong>Data de Emissão</strong>
    <%= analise.data_emissao_check %>
  </p>

  <p>
    <strong>Data de Emissão Correta</strong>
    <%= analise.data_emissao_correta %>
  </p>

  <p>
    <strong>Matrícula</strong>
    <%= analise.matricula_check %>
  </p>

  <p>
    <strong>Matrícula Correta</strong>
    <%= analise.matricula_correta %>
  </p>

  <p>
    <strong>E-mail Pessoal</strong>
    <%= analise.email_pessoal_check %>
  </p>

  <p>
    <strong>E-mail Pessoal Correto</strong>
    <%= analise.email_pessoal_correto %>
  </p>

  <p>
    <strong>Cadastro de TCC</strong>
    <%= analise.cadastro_tcc_check %>
  </p>

  <p>
    <strong>Cadastro de TCC Correto</strong>
    <%= analise.cadastro_tcc_correto %>
  </p>

  <p>
    <strong>Depósito de TCC</strong>
    <%= analise.deposito_tcc_check %>
  </p>

  <p>
    <strong>Ata de Defesa</strong>
    <%= analise.ata_defesa_check %>
  </p>

  <p>
    <strong>Titularidade de Professores</strong>
    <%= analise.titularidade_professores_check %>
  </p>

  <p>
    <strong>Nada Consta</strong>
    <%= analise.nada_consta_check %>
  </p>

  <p>
    <strong>Autorização de Funcionamento</strong>
    <%= analise.autorizacao_funcionamento_check %>
  </p>

  <p>
    <strong>RG</strong>
    <%= analise.doc_rg_check %>
  </p>

  <p>
    <strong>CPF</strong>
    <%= analise.doc_cpf_check %>
  </p>

  <p>
    <strong>Certidão de Registro Civil</strong>
    <%= analise.doc_certidao_check %>
  </p>

  <p>
    <strong>Reservista</strong>
    <%= analise.doc_reservista_check %>
  </p>

  <p>
    <strong>Título</strong>
    <%= analise.doc_titulo_check %>
  </p>

  <p>
    <strong>Certidão de Quitação Eleitoral</strong>
    <%= analise.doc_quitacao_check %>
  </p>

  <p>
    <strong>Histórico Definitivo de Conclusão de Curso</strong>
    <%= analise.doc_historico_check %>
  </p>

  <p>
    <strong>Documento Definitivo de Conclusão de Curso</strong>
    <%= analise.doc_certificado_check %>
  </p>

  <p>
    <strong>Código de Autenticação no SISTEC (somente para cursos técnicos) (3)</strong>
    <%= analise.cod_sistec_check %>
  </p>

  <p>
    <strong>Código SISTEC</strong>
    <%= analise.cod_sistec_correto %>
  </p>

  <p>
    <strong>Habilitação (somente para Licenciatura em Formação Pedagógica para Graduados não Licenciados) (4)</strong>
    <%= analise.habilitacao_curso_check %>
  </p>

  <p>
    <strong>Habilitação Correta</strong>
    <%= analise.habilitacao_curso_correta %>
  </p>

  <p>
    <strong>Data de Conclusão igual ou anterior à data de colação de grau (somente para graduação)</strong>
    <%= analise.data_conclusao_check %>
  </p>

  <p>
    <strong>Data de Conclusão Correta</strong>
    <%= analise.data_conclusao_correta %>
  </p>

  <p>
    <strong>Informação Adicional</strong>
    <%= analise.info_adicional %>
  </p>

  <p>
    <strong>Status da Análise</strong>
    <%= analise.status_analise %>
  </p>

  <p>
    <strong>Funcionário</strong>
    <%= analise.funcionario_id %>
  </p>

</div>
