<%= form_with(model: analise) do |form| %>
  <% if analise.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(analise.errors.count, "erro") %> impediu(ram) que esta análise fosse salva:</h4>
      <ul class="mb-0">
        <% analise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="bg-light p-2">
    <%= form.label :processo, "Número do Processo", class: "form-label" %>
    <%= form.text_field :processo, class: "form-control", placeholder: "00000.000000.0000-00", required: true %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :diploma_nao_emitido_check, "Diploma Não Emitido", class: "form-check-label" %>
    <%= form.checkbox :diploma_nao_emitido_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :status_matricula_check, "Status da Matrícula é 'Concluído' ou 'Formado'", class: "form-check-label" %>
    <%= form.checkbox :status_matricula_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-primary bg-opacity-10 p-2">
    <%= form.label :nome_check, "Nome", class: "form-check-label" %>
    <%= form.checkbox :nome_check, class: "form-check-input" %>
  </div>

  <div class="bg-primary bg-opacity-10 p-2">
    <%= form.label :nome_correto, "Nome Correto", class: "form-label visually-hidden" %>
    <%= form.text_field :nome_correto, placeholder: "Nome Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-primary bg-opacity-10 p-2">
    <%= form.label :cpf_check, "CPF", class: "form-check-label" %>
    <%= form.checkbox :cpf_check, class: "form-check-input" %>
  </div>

  <div class="bg-primary bg-opacity-10 p-2">
    <%= form.label :cpf_correto, "CPF Correto", class: "form-label visually-hidden" %>
    <%= form.text_field :cpf_correto, placeholder: "CPF Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-primary bg-opacity-10 p-2">
    <%= form.label :data_nascimento_check, "Data de Nascimento", class: "form-check-label" %>
    <%= form.checkbox :data_nascimento_check, class: "form-check-input" %>
  </div>

  <div class="bg-primary bg-opacity-10 p-2">
    <%= form.label :data_nascimento_correta, "Data de Nascimento Correta", class: "form-label visually-hidden" %>
    <%= form.date_field :data_nascimento_correta, placeholder: "Data de Nascimento Correta", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-primary bg-opacity-10 p-2">
    <%= form.label :naturalidade_check, "Naturalidade", class: "form-check-label" %>
    <%= form.checkbox :naturalidade_check, class: "form-check-input" %>
  </div>

  <div class="bg-primary bg-opacity-10 p-2">
    <%= form.label :naturalidade_correta, "Naturalidade Correta", class: "form-label visually-hidden" %>
    <%= form.text_field :naturalidade_correta, placeholder: "Naturalidade Correta", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-primary bg-opacity-10 p-2">
    <%= form.label :nome_pai_check, "Nome do Pai", class: "form-check-label" %>
    <%= form.checkbox :nome_pai_check, class: "form-check-input" %>
  </div>

  <div class="bg-primary bg-opacity-10 p-2">
    <%= form.label :nome_pai_correto, "Nome do Pai Correto", class: "form-label visually-hidden" %>
    <%= form.text_field :nome_pai_correto, placeholder: "Nome do Pai Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-primary bg-opacity-10 p-2">
    <%= form.label :nome_mae_check, "Nome da Mãe", class: "form-check-label" %>
    <%= form.checkbox :nome_mae_check, class: "form-check-input" %>
  </div>

  <div class="bg-primary bg-opacity-10 p-2">
    <%= form.label :nome_mae_correto, "Nome da Mãe Correto", class: "form-label visually-hidden" %>
    <%= form.text_field :nome_mae_correto, placeholder: "Nome da Mãe Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-danger bg-opacity-10 p-2">
    <%= form.label :identidade_check, "Identidade", class: "form-check-label" %>
    <%= form.checkbox :identidade_check, class: "form-check-input" %>
  </div>

  <div class="bg-danger bg-opacity-10 p-2">
    <%= form.label :identidade_correta, "Identidade Correta", class: "form-label visually-hidden" %>
    <%= form.text_field :identidade_correta, placeholder: "Identidade Correta", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-danger bg-opacity-10 p-2">
    <%= form.label :orgao_expedidor_check, "Órgão Expedidor", class: "form-check-label" %>
    <%= form.checkbox :orgao_expedidor_check, class: "form-check-input" %>
  </div>

  <div class="bg-danger bg-opacity-10 p-2">
    <%= form.label :orgao_expedidor_correto, "Órgão Expedidor Correto", class: "form-label visually-hidden" %>
    <%= form.text_field :orgao_expedidor_correto, placeholder: "Órgão Expedidor Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-danger bg-opacity-10 p-2">
    <%= form.label :uf_check, "UF", class: "form-check-label" %>
    <%= form.checkbox :uf_check, class: "form-check-input" %>
  </div>

  <div class="bg-danger bg-opacity-10 p-2">
    <%= form.label :uf_correta, "UF Correta", class: "form-label visually-hidden" %>
    <%= form.text_field :uf_correta, placeholder: "UF Correta", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-danger bg-opacity-10 p-2">
    <%= form.label :data_expedicao_check, "Data de Expedição", class: "form-check-label" %>
    <%= form.checkbox :data_expedicao_check, class: "form-check-input" %>
  </div>

  <div class="bg-danger bg-opacity-10 p-2">
    <%= form.label :data_expedicao_correta, "Data de Expedição Correta", class: "form-label visually-hidden" %>
    <%= form.date_field :data_expedicao_correta, placeholder: "Data de Expedição Correta", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-10 p-2">
    <%= form.label :tipo_certidao_check, "Tipo de Certidão", class: "form-check-label" %>
    <%= form.checkbox :tipo_certidao_check, class: "form-check-input" %>
  </div>

  <div class="bg-warning bg-opacity-10 p-2">
    <%= form.label :tipo_certidao_correto, "Tipo de Certidão Correto", class: "form-label visually-hidden" %>
    <%= form.text_field :tipo_certidao_correto, placeholder: "Tipo de Certidão Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-10 p-2">
    <%= form.label :cartorio_check, "Cartório", class: "form-check-label" %>
    <%= form.checkbox :cartorio_check, class: "form-check-input" %>
  </div>

  <div class="bg-warning bg-opacity-10 p-2">
    <%= form.label :cartorio_correto, "Cartório Correto", class: "form-label visually-hidden" %>
    <%= form.text_field :cartorio_correto, placeholder: "Cartório Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-10 p-2">
    <%= form.label :numero_termo_check, "Número de Termo", class: "form-check-label" %>
    <%= form.checkbox :numero_termo_check, class: "form-check-input" %>
  </div>

  <div class="bg-warning bg-opacity-10 p-2">
    <%= form.label :numero_termo_correto, "Número de Termo Correto", class: "form-label visually-hidden" %>
    <%= form.number_field :numero_termo_correto, placeholder: "Número de Termo Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-10 p-2">
    <%= form.label :folha_check, "Folha", class: "form-check-label" %>
    <%= form.checkbox :folha_check, class: "form-check-input" %>
  </div>

  <div class="bg-warning bg-opacity-10 p-2">
    <%= form.label :folha_correta, "Folha Correta", class: "form-label visually-hidden" %>
    <%= form.text_field :folha_correta, placeholder: "Folha Correta", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-10 p-2">
    <%= form.label :livro_check, "Livro", class: "form-check-label" %>
    <%= form.checkbox :livro_check, class: "form-check-input" %>
  </div>

  <div class="bg-warning bg-opacity-10 p-2">
    <%= form.label :livro_correto, "Livro Correto", class: "form-label visually-hidden" %>
    <%= form.text_field :livro_correto, placeholder: "Livro Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-10 p-2">
    <%= form.label :data_emissao_check, "Data de Emissão", class: "form-check-label" %>
    <%= form.checkbox :data_emissao_check, class: "form-check-input" %>
  </div>

  <div class="bg-warning bg-opacity-10 p-2">
    <%= form.label :data_emissao_correta, "Data de Emissão Correta", class: "form-label visually-hidden" %>
    <%= form.date_field :data_emissao_correta, placeholder: "Data de Emissão Correta", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-10 p-2">
    <%= form.label :matricula_check, "Matrícula", class: "form-check-label" %>
    <%= form.checkbox :matricula_check, class: "form-check-input" %>
  </div>

  <div class="bg-warning bg-opacity-10 p-2">
    <%= form.label :matricula_correta, "Matrícula Correta", class: "form-label visually-hidden" %>
    <%= form.number_field :matricula_correta, placeholder: "Matrícula Correta", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :email_pessoal_check, "E-mail Pessoal", class: "form-check-label" %>
    <%= form.checkbox :email_pessoal_check, class: "form-check-input" %>
  </div>

  <div class="bg-light p-2">
    <%= form.label :email_pessoal_correto, "E-mail Pessoal Correto", class: "form-label visually-hidden" %>
    <%= form.text_field :email_pessoal_correto, placeholder: "E-mail Pessoal Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :cadastro_tcc_check, "Cadastro de TCC", class: "form-check-label" %>
    <%= form.checkbox :cadastro_tcc_check, class: "form-check-input" %>
  </div>

  <div class="bg-light p-2">
    <%= form.label :cadastro_tcc_correto, "Cadastro de TCC Correto", class: "form-label visually-hidden" %>
    <%= form.text_field :cadastro_tcc_correto, placeholder: "Cadastro de TCC Correto", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :deposito_tcc_check, "Depósito de TCC", class: "form-check-label" %>
    <%= form.checkbox :deposito_tcc_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :ata_defesa_check, "Ata de Defesa", class: "form-check-label" %>
    <%= form.checkbox :ata_defesa_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :titularidade_professores_check, "Titularidade de Professores", class: "form-check-label" %>
    <%= form.checkbox :titularidade_professores_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :nada_consta_check, "Nada Consta", class: "form-check-label" %>
    <%= form.checkbox :nada_consta_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :autorizacao_funcionamento_check, "Autorização de Funcionamento", class: "form-check-label" %>
    <%= form.checkbox :autorizacao_funcionamento_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 p-2">
    <%= form.label :doc_rg_check, "RG", class: "form-check-label" %>
    <%= form.checkbox :doc_rg_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 p-2">
    <%= form.label :doc_cpf_check, "CPF", class: "form-check-label" %>
    <%= form.checkbox :doc_cpf_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 p-2">
    <%= form.label :doc_certidao_check, "Certidão de Registro Civil", class: "form-check-label" %>
    <%= form.checkbox :doc_certidao_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 p-2">
    <%= form.label :doc_reservista_check, "Reservista", class: "form-check-label" %>
    <%= form.checkbox :doc_reservista_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 p-2">
    <%= form.label :doc_titulo_check, "Título", class: "form-check-label" %>
    <%= form.checkbox :doc_titulo_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 p-2">
    <%= form.label :doc_quitacao_check, "Certidão de Quitação Eleitoral", class: "form-check-label" %>
    <%= form.checkbox :doc_quitacao_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 p-2">
    <%= form.label :doc_historico_check, "Histórico Definitivo de Conclusão de Curso", class: "form-check-label" %>
    <%= form.checkbox :doc_historico_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 p-2">
    <%= form.label :doc_certificado_check, "Documento Definitivo de Conclusão de Curso", class: "form-check-label" %>
    <%= form.checkbox :doc_certificado_check, class: "form-check-input" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :cod_sistec_check, "Código de Autenticação no SISTEC (somente para cursos técnicos) (3)", class: "form-check-label" %>
    <%= form.checkbox :cod_sistec_check, class: "form-check-input" %>
  </div>

  <div class="bg-light p-2">
    <%= form.label :cod_sistec_correto, "Código de Autenticação no SISTEC", class: "form-label visually-hidden" %>
    <%= form.number_field :cod_sistec_correto, placeholder: "Código de Autenticação no SISTEC", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :habilitacao_curso_check, "Habilitação (somente para Licenciatura em Formação Pedagógica para Graduados não Licenciados) (4)", class: "form-check-label" %>
    <%= form.checkbox :habilitacao_curso_check, class: "form-check-input" %>
  </div>

  <div class="bg-light p-2">
    <%= form.label :habilitacao_curso_correta, "Habilitação Correta", class: "form-label visually-hidden" %>
    <%= form.text_field :habilitacao_curso_correta, placeholder: "Habilitação Correta", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <%= form.label :data_conclusao_check, "Data de Conclusão igual ou anterior à data de colação de grau (somente para graduação)", class: "form-check-label" %>
    <%= form.checkbox :data_conclusao_check, class: "form-check-input" %>
  </div>

  <div class="bg-light p-2">
    <%= form.label :data_conclusao_correta, "Data de Conclusão Correta", class: "form-label visually-hidden" %>
    <%= form.date_field :data_conclusao_correta, placeholder: "Data de Conclusão Correta", class: "form-control" %>
  </div>

  <div class="bg-light p-2">
    <%= form.label :info_adicional, "Informação Adicional", class: "form-label" %>
    <%= form.textarea :info_adicional, class: "form-control" %>
  </div>

  <div class="bg-light p-2">
    <%= form.label :status_analise, "Status da Análise", class: "form-label" %>
    <%= form.text_field :status_analise, class: "form-control", required: true %>
  </div>

  <div class="bg-light p-2">
    <%= form.label :funcionario_id, "Funcionário", class: "form-label" %>
    <%= form.text_field :funcionario_id, class: "form-control", required: true %>
  </div>

  <div class="bg-light p-2">
    <%= form.submit @analise.new_record? ? "Cadastrar" : "Atualizar", class: "btn btn-primary mb-3" %>
    <% if analise.new_record? %>
      <div class="float-md-end">
        <%= link_to "Voltar para Análises", analises_path, class: "btn btn-secondary" %>
      </div>
    <% else %>
      <div class="float-md-end">
        <%= link_to "Voltar para Cadastro", @analise, class: "btn btn-secondary" %>
        <%= link_to "Voltar para Análises", analises_path, class: "btn btn-secondary ms-2" %>
      </div>
    <% end %>
  </div>
<% end %>
